.Logo {
    width: 9%;
    position: absolute;
    right: 78.8%;
    top: 60%;
}

.LogoYoutube {
    width: 150px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 50%;
}

.nav {
    font-family: var(--Poppins);
    font-size: 20px;
    font-weight: 550;
    padding: 65px 0px 0px 0px;
}

.nav-link {
    color: #787282;
}

.nav-link:hover {
    color: #FFFFFF;
}